<div>
<ion-header-bar  class="widget-header">
	<button class="button button-icon" ng-click="deleteWidget($index, extraWidget.id)">
		<i class="ion-android-close"></i>
	</button>
    <div class="h3 title">Calorie Counter</div>
	
</ion-header-bar>

	<ion-content class="widget-content food-widget">
		<ion-list>
			<ion-item class="item item-divider item-button-right">
				Total Calories: {{calories.totalCal}} kcal	    		
			</ion-item>
			<ion-item class="item item-divider item-button-right">
				Total Calories In: {{calories.inCal}} kcal	    		
			</ion-item>
			<ion-item class="item item-divider item-button-right">
				Total Calories Out: -{{calories.outCal}} kcal	    		
			</ion-item>
		</ion-list>
    </ion-content>
</div>