<div ng-init="getID(extraWidget.id)">
<ion-header-bar  class="widget-header">
	<button class="button button-icon" ng-click="deleteWidget($index, extraWidget.id)">
		<i class="ion-android-close"></i>
	</button>
    <div class="h3 title">Image</div>
	
	<button class="button button-icon" ng-click="showPopup(); getID(extraWidget.id)">
		<i class="ion-android-create"></i>
	</button>
</ion-header-bar>

	<ion-content class="widget-content food-widget">
    	<img  ng-src="{{image.file || 'img/dummy.png'}}" style="text-align: center"/>
	   	<ion-list>
	   		<ion-item class="item item-divider item-button-right">
	   		{{image.caption}}
	   		</ion-item>
	   	</ion-list>
    </ion-content>
</div>

<script type="text/ng-template" id="add-image-modal.html">
	<ion-modal-view>
		<ion-header-bar>
			<div class="buttons">
		      <button class="button button-icon ion-ios-arrow-left" ng-click="closeModal()">
		    </div>
			 <div class="h1 title">Image</div>
			<button class="button button-icon ion-ios-checkmark-outline" ng-click="checkForExisting()">
			</button>
		</ion-header-bar>
		<ion-content>
			<img ng-show="image.file !== undefined" ng-src="{{image.file}}" style="text-align: center"/>
			<ion-list>
				<ion-item >
					<textarea ng-model="image.caption" placeholder="Type something here..."></textarea>
				</ion-item>
			</ion-list>
			
		</ion-content>
	</ion-modal-view>
</script>

<script type="text/ng-template" id="add-image-popup.html">
 	<ion-list>
		<ion-item ng-click="takePhoto();closePopup()">
			Camera
		</ion-item>
		<ion-item ng-click="choosePhoto();closePopup()">
			Gallery
		</ion-item>
	</ion-list>
</script>