<div ng-init="getTitle(extraWidget.title)">
<ion-header-bar  class="widget-header">
	<button class="button button-icon" ng-click="deleteWidget($index, extraWidget.id); deleteEntry(extraWidget.title)">
		<i class="ion-android-close"></i>
	</button>
    <div class="h3 title">{{extraWidget.title}}</div>
	
	<button class="button button-icon" ng-click="openModal(); getTitle(extraWidget.title)">
		<i class="ion-android-create"></i>
	</button>
</ion-header-bar>

	<ion-content class="widget-content">
		<div id="custom">
			{{widget.text}}
		</div>
    </ion-content>
</div>

<script type="text/ng-template" id="add-text-modal.html">
	<ion-modal-view>
		<ion-header-bar>
			<div class="buttons">
		      <button class="button button-icon ion-ios-arrow-left" ng-click="closeModal()">
		    </div>
			 <div class="h1 title">{{widget.header}}</div>
			<button class="button button-icon ion-ios-checkmark-outline" ng-click="checkForExisting()">
			</button>
		</ion-header-bar>
		<ion-content>
			<textarea id="customTextarea" ng-model="widget.text" placeholder="Type something here..."></textarea>
		</ion-content>
	</ion-modal-view>
</script>
