<ion-view>
  <ion-header-bar class="bar-balanced">
    <div class="buttons">
      <button class="button button-dark" ui-sref="routinesList">Back</button>
    </div>
    <h1 class="title">{{routineInfo.name}}</h1>
    <div class="buttons button-right">
      <button class="button button-icon ion-android-add" ng-click="showPopup()"></button>
      <div class="buttons">
        <button class="button button-dark" ng-click="toggleEdit()">{{editButtonLabel}}</button>
      </div>
    </div>    
  </ion-header-bar>
  <ion-content>
   <ion-list show-delete="shouldShowDelete">
    <ion-item ng-show="loadingRoutines">
     	<ion-spinner icon="spiral"></ion-spinner>
    </ion-item>
    <ion-item ng-repeat="entry in entriesList track by $index">
    	<strong>{{entry.exeName}}</strong> - {{entry.exeNumber}}, {{entry.exeUnit}}, {{entry.exeSet}}, {{entry.exeCal}}
    	<ion-delete-button class="ion-minus-circled" ng-click="deleteEntry($index,entry.id)"></ion-delete-button>
    </ion-item>
   </ion-list>
   
  </ion-content>
</ion-view>

<script type="text/ng-template" id="add-exercise-popup.html">
  <label class="item item-input item-stacked-label p-item">
      <span class="input-label">Exercise name</span>
      <input type="text" ng-model="exeName.name"/>
  </label>
  <label class="item item-input item-stacked-label p-item">
      <span class="input-label">Unit</span>
      <input type="Number" ng-model="exeNumber.number"/>
  </label>
  <select ng-model="exeUnit.name">
          <option ng-repeat="option in units.option" value="{{option.name}}">{{option.name}}</option>
  </select>
  <label class="item item-input item-stacked-label p-item">
      <span class="input-label">Sets</span>
      <input type="Number" ng-model="exeSet.set"/>
  </label>
  <label class="item item-input item-stacked-label p-item">
      <span class="input-label">Calories burn per set</span>
      <input type="Number" ng-model="exeCal.value"/>
  </label>
  <!--button class="button button-positive" ng-click="addNewEntry() ">Save</button-->
</script>