<ion-view >
<ion-header-bar>
	<div class="buttons">
		<button class="button button-icon ion-ios-arrow-left" ui-sref="main-page">
		</button>
	</div>
	<h1 class="title">Profile Details</h1>
	<button class="button button-icon ion-ios-checkmark-outline" ng-click="addNewProfileData(); addNewWeight()"  ui-sref="main-page">
	</button>
</ion-header-bar>
	<ion-content class="main-content" >
		<form>
			<div class="list list-inset">

  				<label class="item item-input item-stacked-label p-item">
   					<span class="input-label">Current weight</span>
    				<input type="number" ng-model="weight.current" ng-change="calTotalWeight(weight.current, weight.second)"/>
 				</label>

   				<select id="gWeight" ng-model="wUnit.name">
			          <option ng-repeat="option in units.option" value="{{option.name}}">{{option.name}}</option>
			  	</select>

 				<label class="item item-input item-stacked-label p-item">
   					<span class="input-label">Goal weight</span>
    				<input type="number" ng-model="weight.second" ng-change="calTotalWeight(weight.current, weight.second)"/>
    				<label class="label-inline">{{wUnit.name}}</label>
 				</label>

 				<label class="item item-input item-stacked-label p-item">
  					<span class="input-label">Goal date</span>
 					<input id="Text1" type="text" ng-value="goalDate" readonly="true" /> 					
				</label>
				<button id="datePicker" class="button icon ion-calendar" ng-click="openDatePicker($event)"></button>
				
				<label class="item item-input item-stacked-label p-item">
					<span class="input-label">Total weight loss</span>
					<input  type="text" ng-model="tWeight" value="{{calTotalWeight(weight.current, weight.second)}}" readonly="true"/>
					<label class="label-inline">{{wUnit.name}}</label>
				</label>

				<label class="item item-input item-stacked-label p-item">
					<span class="input-label">Weekly weight loss</span>
					<input  type="text" ng-model="wwl" value="{{weeklyWeightloss(tWeight)}}" readonly="true"/>
					<label class="label-inline">{{wUnit.name}}</label>
				</label>

  			</div>
		</form>
		<div>
			<!-- <button class= "button bottom-button" ng-click="addNewProfileData(); addNewWeight()"  ui-sref="main-page">DONE</button> -->
			<!input type="submit" value="DONE" class= " bottom-button" ng-click="addNewProfileData(); addNewWeight()"  ui-sref="main-page"-->
		</div>
	</ion-content>
	
</ion-view>


