ion-header-bar{
	background-color:  #FFA07A !important;

}

.main-page-content{

	background-color: rgba(255,160,122,0.05) !important;
}


ion-footer-bar{
	background-color:  #FFA07A !important;
}

.bottom-nav-color, .slider-slide, .slider, .slider-slides{
	background-color:  #FFA07A !important;
}

.widget-button, .title, .button-icon{
	color:	white !important;
}

.edit-button{
	background-color: transparent !important;
	color: white !important; 
	font-family: 'normalFonts';
}

.ion-ios-plus{
	font-size: 70px;
	color:#FFA07A;
}
.add-icon{
	z-index: 100px;
	position: fixed;
	bottom: 15px;
	right:20px;
}

.button-positive{
	background-color:#FFA07A !important;
	color: white !important; 
	font-family: 'normalFonts';
}

.ion-minus-circled{
	color: #FFA07A !important;
}

select{
	border-color: transparent;
}

.item-divider{
	background-color: #FFA07A;
	color: white;
	border-color:  #FFA07A !important;
	line-height: 30px;
}

.tabs-striped.tabs-positive .tabs{
	background-color: #FFA07A;
}

.button-block{
	background-color: #FFA07A;
	color: white;
}

.list-button{
	color: #444 !important;
	border-color: transparent;
	background:none;
}

/*Widget CSS*/

.widget-header{
	background-color: rgba(255,160,122,0.5) !important;

}

.widget-content{
	background-color: rgba(255,160,122,0.5);
}

.widget-content .item{
	background-color: transparent;
	text-align: left;
	padding: 0px;
	border-color: white;
	border-bottom-width: 1px;
	white-space: normal;
}

.food-widget .item-divider{
	background-color: transparent;
	/*color: black !important;
	font-size: 20px;*/
	border-color:  white !important;
	padding-top: 3px;
	padding-bottom: 3px;
}

.food-widget .item{
	color: #444 !important;
	font-size: 17px;
}

.food-widget .button-icon.icon:before {
    font-size: 25px;
    color: #444;
}

.food-widget .item-button-right > .button{
    top: -3px;
    right: 2px;
}

.food-widget .col{
	padding: 0px;
}

.label-weight-widget{
	color: #444;
}