ion-header-bar{
	background-color:  #9A12B3 !important;

}

.main-page-content{
	font-family: 'normalFonts';
	background-color: rgba(154,18,179,0.05) !important;
}

.main-content{
	font-family: 'normalFonts'
	background-color: #F2F1EF !important; 
/*	padding-top: 30px */
}

ion-footer-bar{
	background-color:  #9A12B3 !important;
}

.bottom-nav-color, .slider-slide, .slider, .slider-slides{
	background-color:  #9A12B3 !important;
}

.widget-button, .title, .button-icon{
	color:	white !important;
}

.edit-button{
	background-color: transparent !important;
	color: white !important; 
	font-family: 'normalFonts';
}

.ion-ios-plus{
	font-size: 70px;
	color:#9A12B3;
}
.add-icon{
	z-index: 100px;
	position: fixed;
	bottom: 15px;
	right:20px;
}

.button-positive{
	background-color:#9A12B3 !important;
	color: white !important; 
	font-family: 'normalFonts';
}

.ion-minus-circled{
	color: #9A12B3 !important;
}

select{
	border-color: transparent;
}

.item-divider{
	background-color: #9A12B3;
	color: white;
	border-color:  #9A12B3 !important;
	line-height: 30px;
}

.tabs-striped.tabs-positive .tabs{
	background-color: #9A12B3;
}

.button-block{
	background-color: #9A12B3;
	color: white;
}

.list-button{
	color: white !important;
	border-color: transparent;
	background:none;
}

/*Widget CSS*/

.widget-header{
	background-color: rgba(154,18,179,0.5) !important;

}

.widget-content{
	background-color: rgba(154,18,179,0.5);
	padding: 5px;
	text-align: center;
}

.widget-content .item{
	background-color: transparent;
	text-align: left;
	padding: 0px;
	border-color: white;
	border-bottom-width: 1px;
	white-space: normal;
}

.food-widget .item-divider{
	background-color: transparent;
	/*color: black !important;
	font-size: 20px;*/
	border-color:  white !important;
	padding-top: 3px;
	padding-bottom: 3px;
}

.food-widget .item{
	color: white !important;
	font-size: 17px;
}

.food-widget .button-icon.icon:before {
    font-size: 25px;
    color: white;
}

.food-widget .item-button-right > .button{
    top: -3px;
    right: 2px;
}

.food-widget .col{
	padding: 0px;
}

.label-weight-widget{
	color: white;
}