/*fonts*/
@font-face{
	font-family: 'MandelaScript';
	src:url('../fonts/MandelaScriptPersonalUse.eot');
	src:url('../fonts/MandelaScriptPersonalUse.eot') format ('embedded-opentype'),
		url('../fonts/MandelaScriptPersonalUse.woff') format ('woff'),
		url('../fonts/MandelaScriptPersonalUse.ttf') format ('truetype'),
		url('../fonts/MandelaScriptPersonalUse.svg') format ('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: 'MainHeader';
	src:url('../fonts/Pacifico.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: 'normalFonts';
	src:url('../fonts/Raleway-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}


/*colors*/

.title{
	font-family: "MainHeader";
	/*color:	#f1f3ce!important;*/ 
}

.nav-bar-block{
	z-index: -1;
	display: none;
}

.button-right{
	text-align: right !important;
}


/*side menu*/
.side-menu, ion-list, ion-item{
	font-family: "normalFonts";
}


/*footer nav*/
.bar-footer{
	height:70px;
}

.slider{
	width:100%;
	height: 100%;
}

.slider-slide{
	margin-bottom: 0px;
}

.slider-pager{
	bottom:10px;
	display: none;
}


.widget-icon{
	width: 100%;
	height: 40px;
	display: block;
}

.widget-button{
	font-family: "normalFonts";
	font-size: 10px !important;
	width: 24%;
}

.view-container{
 top:0px;
 left: 0px;
 
}

.pane{
	padding-top: 8px;
	padding-left: 5px;
}

.button-clear{
	max-height: 60px !important;
	line-height: 150% !important;
}

/*--------form styling------------*/
.item{
	border-width: 0px 0px 2px 0px;
	
}

.e-popup ion-item{
	padding: 0px;
	background-color: transparent !important;
}

.e-popup .item-checkbox{
	border-width: 0px 0px 0px 0px !important;
	padding: 10px 0px 16px 50px !important;
	background-color: transparent !important;
}

.p-item{
	width: 60% !important;
}

.item-input{
	padding-left:2px; 
	padding-top: 10px;
}

.list-inset{
	margin: 0px 20px;
}

#gWeight{
	position: absolute;
	right: 60px;
	top: 35px;
	border:0px;
	width: 15%;
	height: 30px;
}

.label-inline{
	position: absolute;
	right: 20px;
	top: 45px;
}

#datePicker{
	position: absolute;
	right: 70px;
	top: 170px;
	background-color: transparent !important;

}
#datePicker2{
	position: absolute;
	top:10px;
	right: 10px;
	background-color: transparent !important;
}

.input-label{
	font-size: 13px;
	color: #A69E94;
}

input{
	font-family: 'normalFonts';
	font-size: 18px !important;
	padding-top: 10px !important;
}

input[disabled], select[disabled], textarea[disabled], input[readonly]:not(.cloned-text-input), textarea[readonly]:not(.cloned-text-input), select[readonly]{
	background-color: transparent;
}

textarea{
	padding: 10px;
	width: 100%;
	font-size: 20px;
	line-height: 30px;
}

#customTextarea{
	padding: 5px;
	width: 100%;
	height: 100%;
	font-size: 17px;
	line-height: 25px;
}

.bottom-button{
	position: absolute;
	color: white !important;
	font-size: 18px !important;
	width: 100%;
	bottom: 0;
}

.bar .button{
	font-size: 17px;
}


.platform-android .bar .title ,.platform-android .bar .widget-title{
    font-size: 17px;
}

.item-button-right .buttons .button{
	font-size: 40px;
}

.item-button-right > .button,
.item-button-right .item-content > .button,
.item-button-right > .buttons,
.item-button-right .item-content > .buttons {
	top:3px;
}

#unitE{
	position: absolute;
	right: 10px;
	top: 165px;
	border:0px;
	width: 35%;
	height: 30px;
}

/*Widget CSS*/
.label-weight-widget{
	font-size: 25px;
}

#unitM{
	position: absolute;
	right: 10px;
	top: 127px;
	border:0px;
	width: 35%;
	height: 30px;
}

.item-complex.item-icon-right .item-content {
    padding-right: 16px;
}

img{
	width: 100%;
	border-radius: 20px;
}

/*Settings page*/
#red i{
	color: #D91E18;
}

#beige i{
	color: #FFA07A;
}

#green i{
	color: #00BFA2;
}

#blue i{
	color: #4B77BE;
}

#purple i{
	color: #663399;
}

#dark i{
	color: #34495E;
}

#unitC{
	font-family: 'normalFonts';
	width: 50%;
	height: 40px;
}

.main-page-content{
	font-family: 'normalFonts';
	background-image: url("geometry.jpg");
}

.main-content, .card{
	font-family: 'normalFonts';
/*	background-color: #F2F1EF !important; */
/*	padding-top: 30px */
}

.widget-content{
	padding: 5px;
	text-align: center;
}

.widget-content #custom{
	text-align: left !important;
}